<div class="wrapper">
  <form class="login" name="test">
      <p class="title">Log in</p>
      <input type="text" name="name" placeholder="Username" autofocus/>
      <i class="fa fa-user"></i>
      <input type="password" name="password" placeholder="Password"/>
      <i class="fa fa-key"></i>
      <a href="#">Forgot your password?</a>
      <button type="submit">
        <i class="spinner"></i>
        <span class="state">Log in</span>
      </button>
    </form>
  <footer><a target="blank" href="http://boudra.me/">boudra.me</a></footer>
  </p>
</div>