<!--<script type="text/javascript" src="/app/javascript/channels/login.js"></script>-->
<!--<link href="/app/assets/fontawesome-free-5.13.0-web/css/fontawesome.min.css" rel="stylesheet">-->
<link href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" rel="stylesheet">
<!--<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>-->
<!--<link href="/login_form.css" rel="stylesheet">-->
<script>
    var working = false;
    function myfunc(event) {
        const e = event;
        if (working == true) return;
        e.preventDefault();
        var login = document.getElementById('login'),
            state = document.getElementById('state');
        login.classList.add('loading');
        state.innerText = 'Authenticating';
        setTimeout(function () {
            login.classList.add('ok');
            state.innerText = 'Success!';
            working = true;
            setTimeout(function () {
                if (working == true){
                document.getElementById("submit-button").click();
             }else{
                state.innerText = 'Log in';
                login.classList.remove('ok', 'loading');
             };
            }, 1000);

        }, 3000);
    }
</script>
<div class="wrapper">
    <%= form_tag('/login',method: :post,class: 'login',id: 'login') do %>
<!--    <div class="login">-->
      <p class="title">Log in</p>
      <input name="username" type="text" placeholder="Username" value="<%= @email %>" autofocus/>
      <i class="fa fa-user"></i>
      <input name="password" type="password" placeholder="Password" value="<%= @password %>"/>
      <i class="fa fa-key"></i>
      <a href="#">Forgot your password?</a>
      <button type="submit" id="submit-button" onclick="myfunc(event)">
      <!--<button type="submit">-->
        <i class="spinner"></i>
        <span class="state" id="state">Log in</span>
      </button>
<!--    </div>-->
    <% end %>
  <footer><a target="blank" href="http://boudra.me/">boudra.me</a></footer>
  </p>
</div>
